<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Актеры</title>

    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/buttons.dataTables.min.css}">

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <h3>База данных актеров</h3>
            <table id="table" class="table table-bordered table-responsive" style="width: 100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Возраст</th>
                    <th>Номер телефона</th>
                    <th>Роль в шоу</th>
                    <th>ID сценария</th>
                    <th>Отказ от съемок</th>
                    <th>Отказ от сценария</th>
                    <th class="action">Действия</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Возраст</th>
                    <th>Номер телефона</th>
                    <th>Роль в шоу</th>
                    <th>ID сценария</th>
                    <th>Отказ от съемок</th>
                    <th>Отказ от сценария</th>
                    <th class="action">Действия</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>
<script href="/js/datatables.js" th:src="@{/js/datatables.js}"></script>
<script href="/js/dataTables.buttons.min.js" th:src="@{/js/dataTables.buttons.min.js}"></script>

<div class="modal modal-danger fade" id="modal_delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Удаление</h4>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить актера?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Отмена</button>
                <button id="delete_action" type="button" class="btn btn-outline">Подтверждаю</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-warning fade" id="modal_edit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Редактирование</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">Имя</label>
                    <input name="name" id="name" type="text" value="" class="form-control" placeholder="Имя актера">
                </div>
                <div class="form-group">
                    <label for="age">Возраст</label>
                    <input name="age" id="age" type="text" value="" class="form-control" placeholder="Возраст">
                </div>
                <div class="form-group">
                    <label for="number">Номер телефона</label>
                    <input name="number" id="number" type="text" value="" class="form-control"
                           placeholder="Номер телефона">
                </div>
                <div class="form-group">
                    <label for="role">Роль в шоу</label>
                    <input name="role" id="role" type="text" value="" class="form-control" placeholder="Роль в шоу">
                </div>
                <div class="form-group">
                    <label for="scenario_id">ID сценария</label>
                    <input name="scenario_id" id="scenario_id" type="number" value="" class="form-control"
                           placeholder="ID сценария">
                </div>
                <div class="form-group">
                    <label for="denyM">Отказ от съемок</label>
                    <input name="denyM" id="denyM" type="checkbox" value="" class="form-control"
                           placeholder="Отказ от съемок">
                </div>
                <div class="form-group">
                    <label for="denyS">Отказ от сценария</label>
                    <input name="denyS" id="denyS" type="checkbox" value="" class="form-control"
                           placeholder="Отказ от сценария">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Отменить</button>
                <button id="edit_action" type="button" class="btn btn-outline">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-warning fade" id="modal_add">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Добавить пользователя</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name_new">Имя</label>
                    <input name="name_new" id="name_new" type="text" value="" class="form-control"
                           placeholder="Имя актера" required>
                </div>
                <div class="form-group">
                    <label for="age_new">Возраст</label>
                    <input name="age_new" id="age_new" type="text" value="" class="form-control" placeholder="Возраст"
                           required>
                </div>
                <div class="form-group">
                    <label for="number_new">Номер телефона</label>
                    <input name="number_new" id="number_new" type="text" value="" class="form-control"
                           placeholder="Номер телефона" required>
                </div>
                <div class="form-group">
                    <label for="role_new">Роль в шоу</label>
                    <input name="role_new" id="role_new" type="text" value="" class="form-control"
                           placeholder="Роль в шоу" required>
                </div>
                <div class="form-group">
                    <label for="scenario_id_new">ID сценария</label>
                    <input name="scenario_id_new" id="scenario_id_new" type="number" value="" class="form-control"
                           placeholder="ID сценария" required>
                </div>
                <div class="form-group">
                    <label for="denyM_new">Отказ от съемок</label>
                    <input name="denyM_new" id="denyM_new" type="checkbox" value="" class="form-control"
                           placeholder="Отказ от съемок" required>
                </div>
                <div class="form-group">
                    <label for="denyS_new">Отказ от сценария</label>
                    <input name="denyS_new" id="denyS_new" type="checkbox" value="" class="form-control"
                           placeholder="Отказ от сценария" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Отменить</button>
                <button id="save_action" type="button" class="btn btn-outline">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="item_id" value="0"/>

<script>
    var datatable;

    function delete_action(item_id) {
        $('#item_id').val(item_id);
    }

    function edit_action(this_el, item_id) {
        $('#item_id').val(item_id);
        var tr_el = this_el.closest('tr');
        var row = datatable.row(tr_el);
        var data = row.data();
        $('#name').val(data[1]);
        $('#age').val(data[2]);
        $('#number').val(data[3]);
        $('#role').val(data[4]);
        $('#scenario_id').val(data[5]);
        $('#denyM').prop('checked', data[6] === 'true');
        $('#denyS').prop('checked', data[7] === 'true');
    }

    function initDataTable() {
        var isAdmin = [[${#authorization.expression('hasRole(''ROLE_ADMIN'')')}]];
        var buttons = [];
        var columnDefs = [];

        if (isAdmin){
            buttons = [
                {
                    text: 'Добавить пользователя',
                    className: 'btn btn-success btn-outline'
                }
            ];
            columnDefs = [
                {
                    'targets': -1,
                    'defaultContent': '-',
                    'searchable': false,
                    'orderable': false,
                    'width': '10%',
                    'className': 'dt-body-center',
                    'render': function (data, type, full_row) {
                        return '<div style="display:block">' +
                            '<button onclick="delete_action(' + full_row[0] + ')" type="button" class="delete_action btn btn-danger btn-xs" data-toggle="modal" data-target="#modal_delete" style="margin:3px"><i class="fa fa-remove"></i>Удалить</button>' +
                            '<button onclick="edit_action(this, ' + full_row[0] + ')" type="button" class="edit_action btn btn-warning btn-xs" data-toggle="modal" data-target="#modal_edit" style="margin:3px"><i class="fa fa-edit"></i>Редактировать</button>' +
                            '</div>';
                    }
                }];
        } else {
            $('.action').remove();
        }

        datatable = $('#table').DataTable({
            "processing": true,
            "serverSide": true,
            dom: 'Bfrtip',
            "ajax": {
                "url": "actors/array",
                "type": "POST",
                "dataType": "json",
                "contentType": "application/json",
                "data": function (d) {
                    return JSON.stringify(d);
                }
            },
            'columnDefs': columnDefs,
            buttons: buttons
        });
        datatable.buttons('.btn').nodes().attr({"data-toggle": 'modal', "data-target": "#modal_add"});
        return datatable;
    }

    $(document).ready(function () {
        var dataTable = initDataTable();
        $('#delete_action').on('click', function (e) {
            e.preventDefault();
            console.log("trying to delete " + $('#item_id').val());
            $.ajax({
                url: "actors/delete",
                data: {
                    'actor_id': $('#item_id').val()
                },
                type: "POST",
                success: function (data) {
                    $('#modal_delete').modal('hide');
                    dataTable.ajax.reload(null, false);
                    console.log(data.message);
                }
            })
        });
        $('#edit_action').on('click', function (e) {
            e.preventDefault();
            console.log("trying to update " + $('#item_id').val());
            $.ajax({
                url: "actors/update",
                data: {
                    'actor_id': $('#item_id').val(),
                    'name': $('#name').val(),
                    'age': $('#age').val(),
                    'number': $('#number').val(),
                    'role': $('#role').val(),
                    'scenario_id': $('#scenario_id').val(),
                    'denyMovie': $('#denyM').is(":checked"),
                    'denyScenario': $('#denyS').is(":checked")
                },
                type: "POST",
                success: function (response) {
                    $('#modal_edit').modal('hide');
                    dataTable.ajax.reload(null, false);
                }
            });
        });
        $('#save_action').on('click', function (e) {
            e.preventDefault();
            console.log("trying to add new user");
            $.ajax({
                url: "actors/add",
                data: {
                    'name': $('#name_new').val(),
                    'age': $('#age_new').val(),
                    'number': $('#number_new').val(),
                    'role': $('#role_new').val(),
                    'scenario_id': $('#scenario_id_new').val(),
                    'denyMovie': $('#denyM_new').is(":checked"),
                    'denyScenario': $('#denyS_new').is(":checked")
                },
                type: "POST",
                success: function (response) {
                    $('#modal_add').modal('hide');
                    dataTable.ajax.reload(null, false);
                }
            });
        });
        $('#modal_delete').on('hidden.bs.modal', function () {
            $('#item_id').val(0);
        });
        $('#modal_edit').on('hidden.bs.modal', function () {
            $('#item_id').val(0);
        });
        $('#modal_add').on('hidden.bs.modal', function () {
            $('#item_id').val(0);
        });
    });
</script>
</body>
</html>
